footer {
  padding: 2rem;
  background-color: black;
  font-size: var(--body-font-size-s);
  color: white;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .default-content-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

footer .columns-wrapper {
  margin: 50px auto;
}

footer .columns > div > div {
  display: block;
}

footer .columns img {
  width: 100px;
  height: auto;
}